@model Apphr.Application.SolicitudesPedido.DTOs.SolicitudPedidoDTDTOCEdit
@{
    ViewBag.MaterialId = new List<SelectListItem>();
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.SolicitudPedidoId)
@Html.HiddenFor(x => x.SolicitudPedidoDetalleId)
@Html.HiddenFor(x => x.MaterialId)
<div class="row">
    <div class="col-md-4">@Html.EditorFor(x => x.MaterialCodigo)</div>
    <div class="col-md-8">@Html.EditorFor(x => x.MaterialNombre)</div>
    <div class="col-md-6">@Html.EditorFor(x => x.MaterialPrecio)</div>
    <div class="col-md-6">@Html.EditorFor(x => x.UnidadMedida)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.Cantidad)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.Precio)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.Valor)</div>
</div>
