@using PagedList.Mvc

@model PagedList.IPagedList<Apphr.Domain.EntitiesDBF.SolicitudPedidoDBF>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tr class="table-dark">
            <th style="width:65px;">Acción</th>
            <th>Solicitud</th>
            <th>Fecha</th>
            <th>Departamento Solicitante</th>
        </tr>

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <div class="dropdown d-inline-block">
                            <button class="btn btn-primary btn-sm" type="button" id="ddBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="ddBtn">
                                <li>@*<a class="dropdown-item" href="@Url.Action("DetailsDBF",new { Area = "Inventario", id = item.NUMSOL, year = ViewBag.Anio })"><i class="far fa-eye"></i> Ver</a>*@</li>
                                <li><a class="dropdown-item" data-id="@item.NUMSOL" data-year="@ViewBag.Anio" onclick="Details(this);"><i class="far fa-eye"></i> Ver</a></li>
                                <li><a class="dropdown-item" data-id="@item.NUMSOL" data-year="@ViewBag.Anio" onclick="Print(this);"><i class="fas fa-print"></i> Imprimir</a></li>
                                <li><a class="dropdown-item" data-id="@item.NUMSOL" data-year="@ViewBag.Anio" onclick="ImportSolicitudPedido(this);"><i class="fas fa-sync"></i> Importar</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.NUMSOL)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.DEPSOL)</td>
                </tr>
            }
        }
    </table>
    <!-- Table Paged Navigation-->
    <div class="row">
        <div class="col-12 text-center">@Html.PagedListPager(Model, page => page.ToString(), (PagedListRenderOptions)ViewBag.PLROpions)</div>
        <div class="text-center">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</div>
    </div>
    <!-- Table Paged Navigation-->
</div>