@model Apphr.Application.SolicitudesPedido.DTOs.SolicitudPedidoDTODetails
@{
    ViewBag.Title = "Eliminar";
    ViewBag.Entidad = "Solicitud Pedido";
    ViewBag.Icon = "<i class=\"fas fa-trash-alt\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var IdKey = new { id = Model.SolicitudPedidoId };
}

<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area = "Inventario" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index")" style="text-decoration:none">
                    <span>Indice</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Details", IdKey)" style="text-decoration:none">
                    <span>Ver</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Edit", IdKey)" style="text-decoration:none">
                    <span>Editar</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <span>Eliminar</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Form Title -->
    <h4 class="mb-0">
        @ViewBag.Title @ViewBag.Entidad @Html.Raw(ViewBag.Icon)
        <a class="btn btn-outline-dark float-end" href="@Url.Action("Edit", IdKey)">Regresar</a>
    </h4>
    <hr />
    <h3>¿ Elimiar este registro ?</h3>
    <!-- Form Title -->
    <!-- Data -->
    @Html.Partial("_DFields", Model)
    <!-- Data -->
    <!-- Delete Button -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="alert alert-danger mb-5">
            <i class="fa fa-exclamation-triangle"></i> ¿Confirma que quiere eliminar este registro permanentemente?
            <button type="submit" class="btn btn-danger btn-sm float-end" data-aos="fade" data-aos-delay="1500"><i class="fas fa-trash"></i> Eliminar</button>
        </div>
    }
    <!-- Delete Button -->
</div>