@model Apphr.Application.SolicitudesPedido.DTOs.SolicitudPedidoDTODetailsDBF
@{
    ViewBag.Title = "Detalles";
    ViewBag.Entidad = "Solicitud SIAHR";
    ViewBag.Icon = "<i class=\"fas fa-eye\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@Html.Partial("_PartialAdvSiahr")
<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area ="" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <a class="" href="@Url.Action("IndexDBF")" style="text-decoration:none">
                    <span>Índice</span>
                </a>
            </li>
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <span>Ver</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Form Title -->
    <h4 class="mb-0">
        @ViewBag.Title @ViewBag.Entidad @Html.Raw(ViewBag.Icon)
        <a id="btnPrint" class="btn btn-warning float-end" href="@Url.Action("Print", new { id = Model.Solicitud })">
            Imprimir <i class="fas fa-print"></i>
        </a>
    </h4>
    <hr />
    <!-- Form Title -->

    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(x => x.Solicitud, "StringD")</div>
        <div class="col-md-6">@Html.DisplayFor(x => x.Correlativo, "StringD")</div>
        <div class="col-md-6">@Html.DisplayFor(x => x.Fecha, "DateD")</div>
        <div class="col-md-6">@Html.DisplayFor(x => x.Tipo, "StringD")</div>
        @Html.DisplayFor(x => x.Departamento, "StringD")
        @Html.DisplayFor(x => x.Elaboro, "StringD")
        @Html.DisplayFor(x => x.Solicito, "StringD")
        @Html.DisplayFor(x => x.Jefe, "StringD")
        @Html.DisplayFor(x => x.Gerente, "StringD")
        @Html.DisplayFor(x => x.Director, "StringD")
        @Html.DisplayFor(x => x.Observaciones, "StringD")
    </div>
    <!-- Tabla -->
    <table id="myTable" class="table table-striped table-bordered display responsive nowrap" width="100%">
        <thead class="table-dark">
            <tr>
                <th>Material</th>
                <th>Descripción</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Precio</th>
                <th class="text-end">Valor</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Detalle.Any())
            {
                foreach (var item in Model.Detalle)
                {
                    <tr>                
                        <td>
                            @item.Material
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td class="text-end">@string.Format("{0:N2}", item.Cantidad)</td>
                        <td class="text-end">@string.Format("{0:N2}", item.Precio)</td>
                        <td class="text-end">@string.Format("{0:N2}", item.Valor)</td>
                    </tr>
                }
            }
            else
            {
                <!--Sin registros-->
                <tr>
                    <td class="text-center" colspan="4">@Apphr.Resources.Strings.NoRegister</td>
                </tr>
                <!--Sin registros-->
            }
        </tbody>
    </table>
    <!-- Tabla -->
    <!-- Botones Formulario -->
    <div class="col-12 mt-1">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Regresar", "IndexDBF", null, new { @class = "btn btn-outline-dark" })
        </div>
    </div>
    <!-- Botones Formulario -->
</div>

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Solicitud de Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <object type="application/pdf" data="@Url.Action("Print", new { id = Model.Solicitud })" width="100%" height="500" style="height: 85vh;">No Support</object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

@section scripts{
    <script>
        $("#btnPrint").click(function () {
            event.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                type: "GET",
                url: url,
                //contentType: "application/json; charset=utf-8",
                //data: { "Id": id },
                //datatype: "json",
                success: function (data) {
                    $('#reportModal').modal('show');
                    //$('#reportModal .modal-body').html(data);
                },
                error: function () {
                    jshelper.failure();
                }
            });
        });
    </script>
}