@model Apphr.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperar Contraseña";
}

<style>
    body {
        background: url('../Content/imgs/Login-bg2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<div class="container-fluid">
    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-xl-4">
            <div class="card border-dark mt-3">
                <div class="card-header text-white bg-dark py-2 text-center"><h4>@ViewBag.Title</h4></div>
                <div class="card-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div class="">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="mt-2 mb-3 form-group">
                            <input type="submit" class="btn btn-success" value="Recuperar Conraseña" />
                            <a href="@Url.Action("Index","Home")" class="btn btn-primary float-end">Regresar al inicio</a>
                        </div>                       
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
