@model IEnumerable<Apphr.Application.SolicitudesDespachos.DTOs.SolicitudDespachoDTDTOBase>


<div class="card border border-dark">
    <div class="card-header background-inventory" >
        Detalle de Materiales
    </div>
    <div class="card-body">
        <table class="mb-0 table table-striped table-hover nowrap" width="100%">
            <thead>
                <tr>
                    <th style="width:75px;">Acciones</th>
                    <th>Material</th>
                    <th class="text-end">Cantidad</th>
                </tr>
            </thead>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <div class="dropdown d-inline-block">
                                <button class="btn btn-primary" type="button" id="ddBtn" data-bs-toggle="dropdown" aria-expanded="false">                                    
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="ddBtn">
                                    <li><a class="dropdown-item" data-model-id="@item.SolicitudDespachoDTId" onclick="child.rowEdit(this);"><i class="far fa-edit"></i> Editar</a></li>
                                    <li><a class="dropdown-item" data-model-id="@item.SolicitudDespachoDTId" onclick="child.rowDelete(this);"><i class="fas fa-trash-alt"></i> Eliminar</a></li>                                    
                                </ul>
                            </div>                            
                        </td>
                        <td>[@item.Material.Codigo] @item.Material.Descripcion</td>
                        <td>@string.Format("{0:N2}", item.Cantidad)</td>
                    </tr>
                }
            }
            else
            {
                <!--Sin registros-->
                <tr>
                    <td class="text-center" colspan="4">@Apphr.Resources.Strings.NoRegister</td>
                </tr>
                <!--Sin registros-->
            }
        </table>
    </div>
</div>