@model Apphr.Application.Destinos.DTOs.DestinoDTOEdit

@{
    ViewBag.Title = "Editar";
    ViewBag.Entidad = "Destino";
    ViewBag.Icon = "<i class=\"fas fa-map-marker-alt\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var IdKey = new { id = Model.DestinoId };
}

<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area ="" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <a class="" href="@Url.Action("Index")" style="text-decoration:none">
                    <span>Índice</span>
                </a>
            </li>
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <span>Ver</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Form Title -->
    <h4 class="mb-0">
        @ViewBag.Title @ViewBag.Entidad @Html.Raw(ViewBag.Icon)
        @*<a class="btn btn-warning float-end" href="@Url.Action("Edit", new { id = Model.BodegaId })">
                <i class="fa fa-pen-square"></i>&nbsp;Editar
            </a>*@
    </h4>
    <hr />
    <!-- Form Title -->
    <!-- Formulario -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.DestinoId)
        @Html.EditorFor(x => x.Codigo)
        @Html.EditorFor(x => x.Descripcion)
        @Html.EditorFor(x => x.JefeServicio)


        <!-- Botones formulario -->
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> Actualizar</button>
            <a class="btn btn-outline-dark" href="@Url.Action("Details",IdKey)"><i class="fas fa-chevron-left"></i>&nbsp;Regresar</a>
            <div class="float-end">
                <a class="btn btn-outline-danger btn-eliminar" href="#"><i class="fas fa-trash"></i>&nbsp;Eliminar</a>
            </div>
        </div>
        <!-- Botones formulario -->
    }
    <!-- Formulario -->
</div>

@section scripts {    
    <script>        
        var urlIndex = '@Url.Action("Index")';
        var urlDelete = '@Url.Action("JsDelete")';
        var dataDelete = { id: $('#DestinoId').val() };

        $(function () {
            $('.btn-eliminar').click(function (event) {
                event.preventDefault();
                jshelper.deleteConfirm(function () {
                    jshelper.deleteAjax(
                        urlDelete,
                        dataDelete,
                        function () { jshelper.deleteRedirect(urlIndex); }
                    );
                });
            });
        });
    </script>
}