@model Apphr.Application.RegistrosMedicos.DTOs.RegistroMedicoDTOCreate
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area = "" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index")" style="text-decoration:none">
                    <span>Índice Registros Médicos</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <span>Crear</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Form Title -->
    <h4>
        Registro Médico
    </h4>
    <hr />
    <!-- Form Title -->
    <!-- Formulario -->
    @using (Html.BeginForm("Create", "RegistroMedico", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary">
                    <div class="card-header bg-secondary text-light">
                        Foto <i class="fa fa-image"></i>
                    </div>
                    <div class="card-body">
                        <figure class="text-center">
                            <img src="" class="form-control mw-100" data-aos="@(ViewData["aos"] != null ? ViewData["aos"] : "flip-left")" data-aos-easing="ease-out-back" data-aos-delay="300" />
                            <figcaption class="text-muted small" title="2022-05-01">
                                @*@Model.Person?.ImageDate?.ToLongDateString()*@
                            </figcaption>
                        </figure>
                        <input type="file" accept="image/*" class="my-pond" name="ImageFile" id="ImageFile" />

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    @Html.EditorFor(model => model.RegistroMedicoId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.EditorFor(model => model.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div class="col-md-4">@Html.EditorFor(model => model.Person.MiddleName, new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div class="col-md-4">@Html.EditorFor(model => model.Person.ThirdName, new { htmlAttributes = new { @class = "form-control" } })</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.EditorFor(model => model.Person.LastName, new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div class="col-md-4">@Html.EditorFor(model => model.Person.MatriName, new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div class="col-md-4">@Html.EditorFor(model => model.Person.MarriedName, new { htmlAttributes = new { @class = "form-control" } })</div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Agregar <i class="fa fa-plus"></i></button>
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-dark" })
            </div>
        </div>
    }
    <!-- Formulario -->

</div>