@model Apphr.Application.Materiales.DTOs.MaterialDTOView
<div class="row">
    <div class="col-12">@Html.DisplayFor(x => x.Codigo, "StringD")</div>
    <div class="col-12">@Html.DisplayFor(x => x.Descripcion, "StringD")</div>
    <div class="col-12">@Html.DisplayFor(x => x.UnidadMedida, "StringD")</div>
    <div class="col-12">@Html.DisplayFor(x => x.Precio, "DecimalD")</div>
    <div class="col-12"> @Html.DisplayFor(x => x.Minimo, "DecimalD")</div>
    <div class="col-12">@Html.DisplayFor(x => x.SigesCodigo, "StringD")</div>
</div>


