@model Apphr.Application.DespachosInventario.DTOs.DespachoInventarioDetalleDTOCEdit
@Html.AntiForgeryToken()

@Html.HiddenFor(x => x.DespachoInventarioId)
@Html.HiddenFor(x => x.BodegaId)
@Html.HiddenFor(x => x.DespachoInventarioDetalleId)
@Html.HiddenFor(x => x.MaterialId)
@Html.HiddenFor(x => x.ProveedorId)
@Html.HiddenFor(x => x.PacienteId)
@Html.HiddenFor(x => x.DestinoId)
@Html.HiddenFor(x => x.Fecha)
@Html.HiddenFor(x => x.DocumentoReferencia)

<div class="row">
    <div class="col-md-4">@Html.EditorFor(x => x.BodegaNombre)</div>
    <div class="col-md-8">@Html.EditorFor(x => x.BodegaDescripcion)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.MaterialCodigo)</div>
    <div class="col-md-8">@Html.EditorFor(x => x.MaterialNombre)</div>
    <div class="col-md-6">@Html.EditorFor(x => x.MaterialPrecio)</div>
    <div class="col-md-6">@Html.EditorFor(x => x.MaterialUM)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.MaterialExistencia)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.MaterialSolicitado)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.MaterialMinimo)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.Cantidad)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.Lote)</div>
    <div class="col-md-4">@Html.EditorFor(x => x.FechaVencimiento)</div>
    <div class="col-12">
        <div id="invInfo" class="alert alert-warning" role="alert" style="display:none">
            <strong>Advertencia</strong> alcanzó el inventario mínimo debe realizar una nueva Solicitud de Pedido
        </div>
    </div>
    <div class="col-md-4">@Html.EditorFor(x => x.ProveedorNit)</div>
    <div class="col-md-8">@Html.EditorFor(x => x.ProveedorNombre)</div>
    <div class="col-md-4 paciente">@Html.EditorFor(x => x.PacienteRM)</div>
    <div class="col-md-8 paciente">@Html.EditorFor(x => x.PacienteNombreCompleto)</div>
    <div class="col-12">@Html.EditorFor(x => x.Observacion)</div>
</div>