@model Apphr.Application.DespachosInventario.DTOs.DespachoInventarioDTOCEdit
@using Newtonsoft.Json
@{
    ViewBag.Title = "Crear";
    ViewBag.Entidad = "Despachos Inventario";
    ViewBag.Icon = ""; //"<i class=\"fas fa-map-marker-alt\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area = "Inventario" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index")" style="text-decoration:none">
                    <span>Índice</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <span>Crear</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Form Title -->
    <h4>
        @ViewBag.Title @ViewBag.Entidad @Html.Raw(ViewBag.Icon)
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-dark float-end" })
    </h4>
    <hr />
    <!-- Form Title -->
    <!-- Formulario -->

    @using (Ajax.BeginForm("JsSaveMaster", "DespachoInventario", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "master.saveBegin",
        OnSuccess = "master.saveSuccess",
        OnFailure = "master.saveFailure"
    }, new { id = "master-form" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(x => x.DepartamentoId)

        @Html.Hidden("Mode")
        <div class="card border border-dark mb-2">
            <div class="card-header background-inventory">
                Datos Generales
                <a class="" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="true" aria-controls="collapseFilter">
                    <i class="fa fa-chevron-up fa-pull-right" style="margin-top: 5px;"></i>
                </a>
            </div>
            <div class="collapse show" id="collapseFilter">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">@Html.EditorFor(x => x.DespachoInventarioId)</div>
                        <div class="col-6">@Html.EditorFor(x => x.Fecha)</div>
                        <div class="col-4">@Html.EditorFor(x => x.TipoDocumentoReferencia, new { optionsList = ViewBag.TipoDocumentoReferencia })</div>
                        <div class="col-4">@Html.EditorFor(x => x.DocumentoReferencia)</div>
                        <div class="col-4">@Html.EditorFor(x => x.FechaDocumentoReferencia)</div>
                        <div class="col-md-4">@Html.EditorFor(x => x.DepartamentoCodigo)</div>
                        <div class="col-md-8">@Html.EditorFor(x => x.DepartamentoNombre)</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="btnSaveMaster" type="submit" class="btn btn-success float-end">Guardar <i class="far fa-save"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla -->
        <!-- Tabla -->
        <!-- Botones Formulario Detalle -->
        <div class="row mt-2">
            <div class="col-12">
                <button type="button" class="btn btn-success onUpd" data-bs-toggle="modal" onclick="child.rowCreate();" data-bs-target="#child-modal"> Adicionar Material <i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-outline-dark ms-2 float-end onUpd" onclick="master.refreshGrid();"><i class="fas fa-sync"></i> Refrescar</button>
            </div>
        </div>
        <!-- Botones Formulario Detalle -->
    }

    <div id="Grid1" class="table-responsive mt-2" style="border-radius: 5px;"></div>


    <div class="col-md-12 mt-2 onUpd">
        <a class="btn btn-outline-dark btnReturn" href=""><i class="fas fa-chevron-left"></i>&nbsp;Regresar</a>
        <div class="float-end">
            <a class="btn btn-outline-danger btn-eliminar" href="#"><i class="fas fa-trash"></i>&nbsp;Eliminar</a>
        </div>
    </div>


    <!-- Formulario Child -->
    @using (Ajax.BeginForm("JsSaveChild", "DespachoInventario", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "child.saveBegin",
        OnSuccess = "child.saveSuccess",
        OnFailure = "child.saveFailure"
    }, new { id = "form-child" }))
    {
        <div class="modal fade" id="child-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="myModalLabel" class="modal-title">Agregar Material</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="form-body-child">
                        @Html.Partial("_CEditChild", Model.Child)
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="btnSaveChild" class="btn btn-primary" value="Guardar" />
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Formulario Child -->
</div>

            @section scripts{
                <script>
        let urls = @Html.Raw(JsonConvert.SerializeObject(new
              {
                  FindDestinos = Url.Action("JsGetDestinosByFilter", "Destinos"),
                  FindBodegas = Url.Action("JsGetByFilter", "Bodegas"),
                  FindMateriales = Url.Action("JsGetByFilter", "Materiales"),
                  FindProveedores = Url.Action("JsGetByFilter", "Proveedores"),
                  GetDestino = Url.Action("JsGetDestinoByCodigo", "Destinos"),
                  GetBodega = Url.Action("JsGetBodegaByNombre", "Bodegas"),
                  GetMaterial = Url.Action("JsGetByCodigo", "Materiales"),
                  GetMaterialSD = Url.Action("JsGetMaterialesInSDByFilter"),
                  GetMaterialSM = Url.Action("JsGetMaterialesInSMByFilter"),
                  GetProveedor = Url.Action("JsGetProveedorByNit", "Proveedores"),
                  GetPaciente = Url.Action("JsGetPacienteByHCA", "Pacientes", new { Area = "Medica" }),
                  GetChild = Url.Action("JsGetChild"),
                  CEdit = Url.Action("CEdit"),
                  DeleteChild = Url.Action("JsDeleteChild"),
                  DeleteMaster = Url.Action("JsDeleteMaster"),
                  Index = Url.Action("Index"),
                  Grid = Url.Action("JsGrid"),
                  Details = Url.Action("Details"),
                  GetSolicitado = Url.Action("JsGetMaterialData")
              }));
                </script>
                <script src="~/Content/apphr/DespachosInventario/CEdit.js"></script>
            }
