@model Apphr.Application.Ortopedia.HojaGasto.DTOs.HojaGastoDTOViewChild

<div class="row">
    <div class="col-md-4">@Html.DisplayFor(x => x.MaterialCodigo,"StringD")</div>
    <div class="col-md-8">@Html.DisplayFor(x => x.MaterialNombre, "StringD")</div>
    <div class="col-md-4">@Html.DisplayFor(x => x.Cantidad, "DecimalD")</div>
    <div class="col-md-4">@Html.DisplayFor(x => x.Precio, "DecimalD")</div>
    <div class="col-md-4">@Html.DisplayFor(x => x.Valor, "DecimalD")</div>
    <div class="col-md-4">@Html.DisplayFor(x => x.ProveedorNit, "StringD")</div>
    <div class="col-md-8">@Html.DisplayFor(x => x.ProveedorNombre, "StringD")</div>
</div>