@model Apphr.WebUI.Models.Entities.AccessRule

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var _IdObject = new { id = Model.AccessRuleId };
}

<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area = "" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index")" style="text-decoration:none">
                    <span>Índice</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("View", _IdObject)" style="text-decoration:none">
                    <span>Ver</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Edit", _IdObject)" style="text-decoration:none">
                    <span>Editar</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <span>Eliminar</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Form Title -->
    <h4 class="mb-0">
        Regla de Acceso
        <a class="btn btn-outline-dark float-end" href="@Url.Action("Edit", _IdObject)"><i class="fas fa-chevron-left"></i>&nbsp;Regresar</a>
    </h4>
    <hr />
    <h3>¿ Elimiar este registro ?</h3>
    <!-- Form Title -->

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Model.Name
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Model.Description
            </dd>
        </dl>
        <!--Boton Eliminar-->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="alert alert-danger mb-5">
                    <i class="fa fa-exclamation-triangle"></i> ¿Confirma que quiere eliminar este registro permanentemente?
                    <button type="submit" class="btn btn-danger btn-sm float-end" data-aos="fade" data-aos-delay="1500"><i class="fas fa-trash"></i> Eliminar</button>
                </div>
            </div>
        }
        <!--Boton Eliminar-->
    </div>
</div>