@model Apphr.Application.ExistenciasBodega.DTOs.ExistenciaBodegaDTOIxFilter
@using Newtonsoft.Json
@{
    ViewBag.Title = "Ver";
    ViewBag.Entidad = "Existencias";
    ViewBag.Icon = "<i class=\"far fa-eye\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    // var IdKey = new { id = Model.DestinoId };
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area = "Inventario" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item aos-init" data-aos="fade-left">
                <span>Ver</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!-- Encablezado -->
    <h4 class="my-3">
        @ViewBag.Title @ViewBag.Entidad @Html.Raw(ViewBag.Icon)
        @*<a class="btn btn-success ms-3 float-end" href="@Url.Action("Create")">
                Adicionar <i class="fa fa-plus"></i>
            </a>
            <a class="btn btn-default float-end" href="@Url.Action("IndexDBF")">
                SIAHR <i class="fas fa-link"></i>
            </a>*@
    </h4>
    <div class="clearfix"></div>
    <!-- Encablezado -->
    <!-- Filtro -->
    @using (Ajax.BeginForm("JsFilterIndex", "Existencias", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "filter.begin",
        OnSuccess = "filter.success",
        OnFailure = "jshelper.failure"
    }, new { id = "form-filter" }))
    {       
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.page)
        @Html.HiddenFor(x => x.BodegaId)
        @Html.HiddenFor(x => x.MaterialId)
        <div class="card border border-dark mb-3">
            <div class="card-header background-inventory">
                Filtro
                <a class="" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="true" aria-controls="collapseFilter">
                    <i class="fa fa-chevron-up fa-pull-right" style="margin-top: 5px;"></i>
                </a>
            </div>
            @* add class show *@
            <div class="collapse show" id="collapseFilter">
                <div class="card-body" id="filterForm">
                    <div class="row">
                        <div class="col-md-4">@Html.EditorFor(x => x.BodegaNombre)</div>
                        <div class="col-md-8">@Html.EditorFor(x => x.BodegaDescripcion)</div>
                        <div class="col-md-4">@Html.EditorFor(x => x.MaterialCodigo)</div>
                        <div class="col-md-8">@Html.EditorFor(x => x.MaterialNombre)</div>
                        <div class="col-12">@Html.EditorFor(x => x.TipoExistencia, new { optionsList = ViewBag.TipoExistencia })</div>
                    </div>
                    <div class="form-group">
                        <div class="float-end mb-3">
                            <button id="btnFilter" type="submit" class="btn btn-info"><i class="fa fa-filter"></i> Aplicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Filtro -->
    <!-- Tabla -->
    <div id="Grid1"></div>
    <!-- Tabla -->
</div>


@section scripts{
    <script>
        let urls = @Html.Raw(JsonConvert.SerializeObject(new
              {                
                  FindBodegas = Url.Action("JsGetBodegasByFilter", "Bodegas"),
                  FindMateriales = Url.Action("JsGetMaterialesByFilter", "Materiales"),               
                  GetBodega = Url.Action("JsGetBodegaByNombre", "Bodegas"),
                  GetMaterial = Url.Action("JsGetMaterialByCodigo", "Materiales")                  
              }));
    </script>
    <script>
        var filter = {};

        filter.btn = $('#btnFilter');
        filter.grid = $('#Grid1');
        filter.form = $('#form-filter');
        filter.begin = function () {
            filter.grid.fadeTo(0, 0.4);
            filter.btn.prop('disabled', true);
        }
        filter.success = function (data) {
            filter.grid.html(data);
            filter.bindPaged();
            filter.end();
        }
        filter.end = function () {
            filter.grid.fadeTo('slow', 1);
            filter.btn.prop('disabled', false);
        }
        filter.init = function () {
            $('#MaterialNombre, #BodegaDescripcion').attr('readonly', 'readonly').attr('tabindex','-1');
        }
        filter.bindPaged = function () {
            $(".pagination a").click(function () {
                if (event.preventDefault) {
                    event.preventDefault();
                    console.log('detenido');
                    console.log($(this).attr('href'));
                    $('#page').val($(this).attr('href'));
                    filter.btn.trigger('click');
                }
            });
        }

        $(document).ready(function () {
            filter.init();
            filter.form.submit();
            // Autocomplete
            $("#BodegaNombre").autocomplete({
                maxShowItems: 5,               
                source: function (request, response) {
                    $.ajax({
                        url: urls.FindBodegas,
                        dataType: "json",
                        data: "val=" + request.term,
                        success: function (resp) {
                            response($.map(resp.data, function (item) {
                                //console.log(item);
                                return {
                                    label: item.Text,
                                    value: item.Value,
                                    desc: item.Text
                                };
                            }));
                        }
                    });
                }
            }).each(function (idx, ele) {
                $(ele).data("ui-autocomplete")._renderItem = jshelper.ACRenderItem
            });
            $("#MaterialCodigo").autocomplete({
                maxShowItems: 5,
                widthContainer: '#formLinea',
                source: function (request, response) {
                    $.ajax({
                        url: urls.FindMateriales,
                        dataType: "json",
                        data: "id=" + request.term,
                        success: function (resp) {
                            response($.map(resp.data, function (item) {
                                //console.log(item);
                                return {
                                    label: item.id,
                                    value: item.id,
                                    desc: item.text
                                };
                            }));
                        }
                    });
                },
                appendTo: "#filterForm"
            }).data("ui-autocomplete")._renderItem = jshelper.ACRenderItem;
            // Blur
            $('#BodegaNombre').on('blur', function () {
                $.ajax({
                    type: "GET",
                    url: urls.GetBodega,
                    data: { nombre: $("#BodegaNombre").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $('#BodegaId').val('');
                        $('#BodegaDescripcion').val('');
                        //console.log(response);
                        if (response.success) {
                            $('#BodegaId').val(response.data.BodegaId);
                            $('#BodegaDescripcion').val(response.data.Descripcion);
                            $('#MaterialCodigo').focus();
                        }
                    },
                    failure: function (response) {
                        console.log(response);
                        jshelper.failure();
                    }
                });
            });
            $('#MaterialCodigo').on('blur', function () {
                jshelper.get(
                    urls.GetMaterial,
                    { id: $("#MaterialCodigo").val() },
                    function (response) {
                        $('#MaterialId').val('');
                        $('#MaterialNombre').val('');                                               
                        if (response.success && response.data != null) {
                            $('#MaterialId').val(response.data.MaterialId);
                            $('#MaterialNombre').val(response.data.Descripcion);                            
                            $('#btnFilter').focus();
                        }
                    }
                );
            });
        });
    </script>
}