
@{
    ViewBag.Menu = "Inventario";
    ViewBag.Title = "Accesos " + ViewBag.Menu;
    ViewBag.Icon = "<i class=\"fas fa-boxes\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="container-lg pt-3">
    <!-- Encablezado -->
    <h4 class="mt-3 mb-1">
        @ViewBag.Title @Html.Raw(ViewBag.Icon)        
    </h4>
    <hr class="mb-0" />
    <div class="clearfix"></div>
    <!-- Encablezado -->
    @*<div class="container-fluid">*@
        <div class="row mt-3 mb-3">
            <div class="col-md-4 mb-3">
                <div class="card border-primary aos-init mb-3" data-aos="zoom-in" data-aos-anchor="#rec0-menu-header-smc">
                    <div class="card-header bg-primary" id="headingBlog">
                        <h3 class="mb-0 text-white">
                            Solicitudes <i class="fas fa-pull-right fa-hand-holding"></i>
                        </h3>
                    </div>
                    <div id="collapseBlog" aria-labelledby="headingBlog">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "SolicitudPedido",         new { Area = "Ortopedia" })"><i class="fas fa-hand-holding"></i> Solicitud Pedidos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "OrdenCompra",             new { Area = "Ortopedia" })"><i class="fas fa-hand-holding"></i> Ordenes de Compra</a>
                            @*<a class="list-group-item list-group-item-action" href="@Url.Action("Index", "SolicitudesDespacho",     new { Area = "Inventario" })"><i class="fas fa-hand-holding"></i> Solicitud Despacho</a>*@
                            @*<a class="list-group-item list-group-item-action" href="@Url.Action("Index", "SolicitudMaterialesSala", new { Area = "Inventario" })"><i class="fas fa-hand-holding"></i> Solicitud Materiales Sala</a>*@
                        </div>
                    </div>
                </div>
                <div class="card border-primary aos-init" data-aos="zoom-in" data-aos-anchor="#rec0-menu-header-smc">
                    <div class="card-header bg-primary" id="headingBlog">
                        <h3 class="mb-0 text-white">
                            Procesar Documentos <i class="fas fa-pull-right fa-cogs"></i>
                        </h3>
                    </div>
                    <div id="collapseBlog" aria-labelledby="headingBlog">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","IngresoInventario", new { Area = "Ortopedia" })"><i class="fas fa-cogs"></i> Operar Ingresos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","DespachoInventario", new { Area = "Ortopedia" })"><i class="fas fa-cogs"></i> Operar Despachos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","AjusteInventario", new { Area = "Ortopedia" })"><i class="fas fa-cogs"></i> Operar Ajustes</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","HojasGasto", new { Area = "Ortopedia" })"><i class="fas fa-cogs"></i> Hoja de Gastos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Devolucion", new { Area = "Ortopedia" })"><i class="fas fa-cogs"></i> Devolución</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card mb-3 border-info aos-init" data-aos="zoom-in" data-aos-delay="100" data-aos-anchor="#rec0-menu-header-smc">
                    <div class="card-header bg-info" id="headingImage">
                        <h3 class="mb-0">
                            Consultas<i class="fa fa-pull-right fa-eye"></i>
                        </h3>
                    </div>
                    <div id="collapseImage" aria-labelledby="headingImage">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Ingresos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i> Ingresos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Egresos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i> Egresos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Saldos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i> Saldos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Devoluciones", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i> Devoluciones</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Movimientos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i> Movimientos</a>
                        </div>
                    </div>
                </div>
                <div class="card border-info aos-init" data-aos="zoom-in" data-aos-delay="100" data-aos-anchor="#rec0-menu-header-smc">
                    <div class="card-header bg-info" id="headingImage">
                        <h3 class="mb-0">
                            Catálogos<i class="fas fa-pull-right fa-wrench"></i>
                        </h3>
                    </div>
                    <div id="collapseImage" aria-labelledby="headingImage">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Servicios", new { Area = "General" })"><i class="fas fa-clinic-medical"></i> Servicios</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Bodegas", new { Area = "Inventario" })"><i class="fas fa-warehouse"></i> Bodegas</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Proveedores", new { Area = "Inventario" })"><i class="fas fa-users"></i> Proveedores</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Materiales", new { Area = "Inventario" })"><i class="fas fa-boxes"></i> Materiales</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Cirujano", new { Area = "Ortopedia" })"><i class="fas fa-user-md"></i> Cirujanos</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card border-secondary aos-init" data-aos="zoom-in" data-aos-delay="200" data-aos-anchor="#rec0-menu-header-smc">
                    <div class="card-header background-siahr" id="headingAdvertising">
                        <h3 class="mb-0">
                            SIAHR<i class="fa fa-pull-right fa-eye"></i>
                        </h3>
                    </div>
                    <div id="collapseAdvertising" aria-labelledby="headingAdvertising">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","SolicitudesPedido", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Solicitudes de Pedido</a>
                            @*<a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","SolicitudesDespacho", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Solicitudes de Despacho</a>*@
                            <a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","OrdenesCompra", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Ordenes de Compra</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","Materiales", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Materiales</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","Proveedores", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Proveedores</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","Bodegas", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Bodegas</a>
                            @*<a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","Destinos", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Departamentos/Destinos</a>*@
                            <a class="list-group-item list-group-item-action" href="@Url.Action("IndexDBF","Movimientos", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Movimientos</a>
                            <a class="list-group-item list-group-item-action" href="@Url.Action("ExistenciasDBF","Movimientos", new { Area = "Inventario" })"><i class="fa fa-eye"></i> Reporte Existencias</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@

