@model Apphr.Application.Proveedores.DTOs.ProveedorDTOView
<div class="row">
    <div class="col-md-12">@Html.DisplayFor(x => x.Nit, "StringD")</div>
    <div class="col-md-12">@Html.DisplayFor(x => x.Descripcion, "StringD")</div>
    <div class="col-md-12">@Html.DisplayFor(x => x.Direccion, "StringD")</div>
    <div class="col-md-12">@Html.DisplayFor(x => x.Contacto, "StringD")</div>
    <div class="col-md-12">@Html.DisplayFor(x => x.Telefono, "StringD")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.Email, "StringD")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.DiasCredito, "Int32D")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.Banco1, "StringD")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.Cuenta1, "StringD")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.Banco2, "StringD")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.Cuenta2, "StringD")</div>
    <div class="col-md-6"> @Html.DisplayFor(x => x.Banco3, "StringD")</div>
    <div class="col-md-6">@Html.DisplayFor(x => x.Cuenta3, "StringD")</div>
</div>
