@model Apphr.Application.Proveedores.DTOs.ProveedorDTOCEdit

@{
    ViewBag.Title = "Editar";
    ViewBag.Entidad = "Proveedores";
    ViewBag.Icon = "<i class=\"fas fa-box\"></i>";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var IdKey = new { id = Model.ProveedorId };
}

<div class="container-lg">

    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index","Home", new { Area = "Inventario" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Index")" style="text-decoration:none">
                    <span>Índice</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <span>Editar</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ProveedorId)

<div class="row g-2" style="">
    <h4>
        Proveedor
        <a class="btn btn-success float-end" href="@Url.Action("Create", new { id = Model.Nit })">
            Adicionar <i class="fa fa-pen-square"></i>
        </a>
    </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="IsActive" role="switch" value="true" id="IsActive" @(Model.IsActive ? "checked" : null)>
            <label class="form-check-label" for="IsActive"> Registro habilitado</label>
        </div>*@
    @Html.EditorFor(x => x.IsActive)
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="name-addon" data-aos="slide-left" data-aos-easing="ease-out-cubic" style="min-width: 150px;">
                @Html.LabelFor(model => model.Nit, htmlAttributes: new { @class = "mb-0 control-label" })
                <i class="ms-1 fa fa-spell-check"></i>
            </span>
            @Html.TextBoxFor(model => model.Nit, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-12">
        @Html.ValidationMessageFor(model => model.Nit, "", new { @class = "text-danger" })
    </div>

    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="name-addon" data-aos="slide-left" data-aos-easing="ease-out-cubic" style="min-width: 150px;">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "mb-0 control-label" })
                <i class="ms-1 fa fa-spell-check"></i>
            </span>
            @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-12">
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="name-addon" data-aos="slide-left" data-aos-easing="ease-out-cubic" style="min-width: 150px;">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "mb-0 control-label" })
                <i class="ms-1 fa fa-spell-check"></i>
            </span>
            @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-12">
        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
    </div>

    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="name-addon" data-aos="slide-left" data-aos-easing="ease-out-cubic" style="min-width: 150px;">
                @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "mb-0 control-label" })
                <i class="ms-1 fa fa-spell-check"></i>
            </span>
            @Html.TextBoxFor(model => model.Contacto, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-12">
        @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6">
        @Html.EditorFor(x => x.Email)
    </div>
    <div class="col-md-6">
        @Html.EditorFor(x => x.DiasCredito)
    </div>

    <div class="col-md-6">
        @Html.EditorFor(x => x.Banco1)
    </div>
    <div class="col-md-6">
        @Html.EditorFor(x => x.Cuenta1)
    </div>

    <div class="col-md-6">
        @Html.EditorFor(x => x.Banco2)
    </div>
    <div class="col-md-6">
        @Html.EditorFor(x => x.Cuenta2)
    </div>

    <div class="col-md-6">
        @Html.EditorFor(x => x.Banco3)
    </div>
    <div class="col-md-6">
        @Html.EditorFor(x => x.Cuenta3)
    </div>

    <div class="col-md-12">
        @*<input type="submit" value="Actualizar" class="btn btn-sm btn-dark" />*@

        <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> Actualizar</button>
        <a class="btn btn-outline-dark" href="@Url.Action("Details", IdKey)"><i class="fas fa-chevron-left"></i>&nbsp;Regresar</a>
        <div class="float-end">
            <a class="btn btn-outline-danger" href="@Url.Action("Delete", IdKey)"><i class="fas fa-trash"></i>&nbsp;Eliminar</a>
        </div>
    </div>
</div>
    }
</div>

@section Scripts{
        <script>
            $(function () {
                $('#Nit').attr('readonly', 'readonly');
            });
        </script>
    }
