@model Apphr.Application.OrdenesCompra.DTOs.OrdenCompraDTODetailsDBF

<div class="container-lg">   
    <!-- Form -->
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(x => x.Orden, "StringD")</div>
        <div class="col-md-6">@Html.DisplayFor(x => x.Fecha, "DateD")</div>
        <div class="col-md-4">@Html.DisplayFor(x => x.Nit, "StringD")</div>
        <div class="col-md-8">@Html.DisplayFor(x => x.ProveedorNombre, "StringD")</div>
    </div>
    <!-- Form -->
    <!-- Tabla -->
    <table id="myTable" class="table table-striped table-bordered display responsive nowrap" width="100%">
        <thead class="table-dark">
            <tr>
                @*<th>Acciones</th>*@
                <th>Renglón</th>
                <th>Material</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Precio</th>
                <th class="text-end">Valor</th>
                <th class="text=end">Recibido</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Detalle.Any())
            {
                foreach (var item in Model.Detalle)
                {
                    <tr>
                        <!-- Acciones -->
                        <!--<td>
                            <a class="btn btn-sm btn-info" href="@Url.Action("Details", new { id = item.Orden })"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>-->
                        <!-- Acciones -->
                        <td>
                            @item.Renglon
                        </td>
                        <td>
                            @item.MaterialCodigo
                        </td>
                        <td>
                            @item.MaterialNombre
                        </td>
                        <td>
                            @item.UnidadMedida
                        </td>
                        <td class="text-end">@string.Format("{0:N2}", item.Cantidad)</td>
                        <td class="text-end">@string.Format("{0:N2}", item.Precio)</td>
                        <td class="text-end">@string.Format("{0:N2}", item.Valor)</td>
                        <td class="text-end">@item.CantidadRecibido</td>
                    </tr>
                }
            }
            else
            {
                <!--Sin registros-->
                <tr>
                    <td class="text-center" colspan="6">@Apphr.Resources.Strings.NoRegister</td>
                </tr>
                <!--Sin registros-->
            }
        </tbody>
    </table>
    <!-- Tabla -->   
</div>

