<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Generales
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @if (User.IsInRole("SysAdmin"))
        {
            <li><a class="dropdown-item" href="@Url.Action("ImportMateriales","Materiales", new { Area = "Inventario" })"><i class="fas fa-dot-circle"></i>&nbsp;Importar Materiales</a></li>
            <li><a class="dropdown-item" href="@Url.Action("ImportProveedores","Proveedores", new { Area = "Inventario" })"><i class="fas fa-dot-circle"></i>&nbsp;Importar Proveedores</a></li>
            <li><a class="dropdown-item" href="@Url.Action("ImportBodegas","Bodegas", new { Area = "Inventario" })"><i class="fas fa-dot-circle"></i>&nbsp;Importar Bodegas</a></li>
        }
        <li><a class="dropdown-item" href="@Url.Action("Index","People", new { Area = "General" })"><i class="fa fa-users"></i>&nbsp;Personas</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Index","Servicios", new { Area = "General" })"><i class="fas fa-hospital-user"></i> Servicios</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="#">Avanzado <i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","Usuarios", new { Area = "General" })"><i class="fas fa-user"></i> <strong>Usuarios</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","AppRole", new { Area = "Admin" })"><i class="fa fa-user-shield"></i> <strong>Roles</strong></a></li>
                @*<li><a class="dropdown-item" href="@Url.Action("Index","AccessRule", new { Area = "Admin" })"><i class="fa fa-key"></i> <strong>Reglas de Acceso</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Controladores", new { Area = "Admin" })"><strong><i class="fas fa-hammer"></i> Controladores</strong></a></li>*@
                <li><a class="dropdown-item" href="@Url.Action("Index","AppPermission", new { Area = "Admin" })"><strong><i class="fa fa-key"></i> Permisos</strong></a></li>
            </ul>
        </li>
    </ul>
</li>