<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Inventario
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
            <div class="dropdown-item align-middle">
                <a href="@Url.Action("Index","Home", new { Area = "Inventario" })"><i class="fas fa-bars"></i>&nbsp;Accesos</a>
                <a class="float-end" href="@Url.Action("Index","Home", new { Area = "Inventario" })" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a>
            </div>
        </li>
        <li><hr class="dropdown-divider"></li>
        @*<li><a class="dropdown-item" href="@Url.Action("Index","OrdenCompra", new { Area = "Ortopedia" })"><i class="fas fa-clipboard-list"></i> Ordenes de Compra</a></li>*@
        @*<li>
            <a class="dropdown-item" href="#"><i class="far fa-list-alt"></i>&nbsp;Controles<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","ControlAbastecimiento", new { Area = "Inventario" })"><i class="fas fa-file-invoice"></i>&nbsp;Control de Abastecimiento</a></li>
                <li><a class="dropdown-item" href="@Url.Action("InicialMateriales","ControlAbastecimiento", new { Area = "Inventario" })"><i class="fas fa-file-invoice"></i>&nbsp;Inventario Inicial Control Abastecimiento</a></li>
            </ul>
        </li>*@
        <li>
            <a class="dropdown-item" href="#"><i class="fas fa-cart-plus"></i>&nbsp;Solicitudes<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","SolicitudPedido", new { Area = "Ortopedia" })"><i class="fas fa-file-invoice"></i>&nbsp;Solicitud Pedidos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","OrdenCompra", new { Area = "Ortopedia" })"><i class="fas fa-file-invoice"></i>&nbsp;Ordenes de Compra</a></li>
                <li>@*<a class="dropdown-item" href="@Url.Action("Index","SolicitudesDespacho", new { Area = "Inventario" })"><i class="fas fa-file-invoice"></i>&nbsp;Solicitud Despachos</a>*@</li>
                <li>@*<a class="dropdown-item" href="@Url.Action("Index","SolicitudMaterialesSala", new { Area = "Inventario" })"><i class="fas fa-file-invoice"></i>&nbsp;Solicitud Material Sala</a>*@</li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;Procesar Documentos<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","IngresoInventario", new { Area = "Ortopedia" })"><i class="fas fa-cog"></i>&nbsp;Operar Ingresos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","DespachoInventario", new { Area = "Ortopedia" })"><i class="fas fa-cog"></i>&nbsp;Operar Despachos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","AjusteInventario", new { Area = "Ortopedia" })"><i class="fas fa-cog"></i>&nbsp;Operar Ajustes</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","HojasGasto", new { Area = "Ortopedia" })"><i class="fas fa-cog"></i>&nbsp;Operar Hojas de Gasto</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Devolucion", new { Area = "Ortopedia" })"><i class="fas fa-cog"></i>&nbsp;Operar Devolución</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;Consultas<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Ingresos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i>&nbsp;Ingresos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Egresos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i>&nbsp;Egresos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Saldos", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i>&nbsp;Saldos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Devoluciones", "Consultas", new { Area = "Ortopedia" })"><i class="fa fa-list"></i>&nbsp;Devoluciones</a></li>
            </ul>
        </li>
        @*<li><a class="dropdown-item" href="@Url.Action("Index","Kardex", new { Area = "Inventario" })"><i class="fas fa-clipboard-list"></i> Kardex</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Index","Existencias", new { Area = "Inventario" })"><i class="fas fa-clipboard-list"></i> Existencias</a></li>*@
        <li>
            <a class="dropdown-item" href="#"><i class="fas fa-wrench"></i>&nbsp;Catálogos<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","Servicios", new { Area = "General" })"><i class="fas fa-clinic-medical"></i> Servicios</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Cirujano", new { Area = "Ortopedia" })"><i class="fas fa-user-md"></i> Cirujanos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Bodegas", new { Area = "Inventario" })"><i class="fas fa-warehouse"></i> Bodegas</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Proveedores", new { Area = "Inventario" })"><i class="fas fa-users"></i> Proveedores</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Materiales", new { Area = "Inventario" })"><i class="fas fa-boxes"></i> Materiales</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" href="#"><i class="far fa-eye"></i>&nbsp;SIAHR<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li>
                    <div class="dropdown-item align-middle">
                        <a href="@Url.Action("IndexDBF","SolicitudesPedido", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Solicitudes de Pedido</a>
                        <a class="float-end" href="@Url.Action("IndexDBF","SolicitudesPedido", new { Area = "Inventario" })" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a>
                    </div>
                </li>
                @*<li><a class="dropdown-item" href="@Url.Action("IndexDBF","SolicitudesDespacho", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Solicitudes de Despacho</a></li>*@
                <li>
                    <div class="dropdown-item align-middle">
                        <a href="@Url.Action("IndexDBF","OrdenesCompra", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Ordenes de Compra</a>
                        <a class="float-end" href="@Url.Action("IndexDBF","OrdenesCompra", new { Area = "Inventario" })" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item align-middle">
                        <a href="@Url.Action("IndexDBF","Materiales", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Materiales</a>
                        <a class="float-end" href="@Url.Action("IndexDBF","Materiales", new { Area = "Inventario" })" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item align-middle">
                        <a href="@Url.Action("IndexDBF","Proveedores", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Proveedores</a>
                        <a class="float-end" href="@Url.Action("IndexDBF","Proveedores", new { Area = "Inventario" })" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a>
                    </div>
                </li>
                <li><a class="dropdown-item" href="@Url.Action("IndexDBF","Bodegas", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Bodegas</a></li>
                <li><a class="dropdown-item" href="@Url.Action("IndexDBF", "Destinos", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Departamentos/Destinos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("ExistenciasDBF", "Movimientos", new { Area = "Inventario" })"><i class="far fa-eye"></i>&nbsp;Reporte Existencias</a></li>
            </ul>
        </li>
    </ul>
</li>