<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Médica
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @*<li>
            <a class="dropdown-item" href="#"><i class="fas fa-cart-plus"></i>&nbsp;Solicitudes<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","SolicitudesPedido", new { Area = "Inventario" })"><i class="fas fa-file-invoice"></i>&nbsp;Solicitud Pedidos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","SolicitudesDespacho", new { Area = "Inventario" })"><i class="fas fa-file-invoice"></i>&nbsp;Solicitud Despachos</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;Procesar Documentos<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index","IngresosInventario", new { Area = "Inventario" })"><i class="fas fa-cart-plus"></i> Operar Ingresos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","DespachosInventario", new { Area = "Inventario" })"><i class="fas fa-dolly"></i> Operar Despachos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","TrasladosInventario", new { Area = "Inventario" })"><i class="fas fa-exchange-alt"></i> Operar Trasaldos</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","AjustesInventario", new { Area = "Inventario" })"><i class="fas fa-tint"></i> Operar Ajustes</a></li>
            </ul>
        </li>*@

        <!--<li>
            <a class="dropdown-item" href="#"><i class="far fa-eye"></i>&nbsp;Consultas SIAHR<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">-->
                @*<li><a class="dropdown-item" href="@Url.Action("Index","Destinos", new { Area = "Inventario" })"><i class="fas fa-cart-plus"></i> Operar Ingresos</a></li>*@
                <!--<li><a class="dropdown-item" href="@Url.Action("IndexDBF","SolicitudesPedido", new { Area = "Inventario" })"><i class="fas fa-cart-plus"></i>&nbsp;Solicitudes Pedidos</a></li>
            </ul>
        </li>-->
        @*<li><a class="dropdown-item" href="@Url.Action("Index","Proveedores", new { Area = "Inventario" })"><i class="fas fa-users"></i>&nbsp;Proveedores</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index","Bodegas", new { Area = "Inventario" })"><i class="fas fa-boxes"></i>&nbsp;Bodegas</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index","SolicitudesPedido", new { Area = "Inventario" })"><i class="fas fa-boxes"></i>&nbsp;Pedidos</a></li>*@
        @*<li><a class="dropdown-item" href="@Url.Action("Index","Kardex", new { Area = "Inventario" })"><i class="fas fa-clipboard-list"></i> Kardex</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Index","Existencias", new { Area = "Inventario" })"><i class="fas fa-clipboard-list"></i> Existencias</a></li>*@
        @*<li><a class="dropdown-item" href="#">menu</a></li>
            <li><a class="dropdown-item" href="#">menu</a></li>*@
        <li>
            <a class="dropdown-item" href="#"><i class="fas fa-wrench"></i>&nbsp;Catálogos<i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
                @*<li><a class="dropdown-item" href="@Url.Action("Index","Medicos", new { Area = "Médica" })"><i class="fas fa-map-marker-alt"></i> Médicos</a></li>                
                <li><a class="dropdown-item" href="@Url.Action("Index","Pacientes", new { Area = "Médica" })"><i class="fas fa-map-marker-alt"></i> Pacientes</a></li>*@                
                @*    <li><a class="dropdown-item" href="@Url.Action("Index","Controladores", new { Area = "Admin" })"><strong><i class="fas fa-hammer"></i> Controladores</strong></a></li>*@
            </ul>
        </li>
    </ul>
</li>