@model Apphr.Application.SiahadDespacho.DTOs.SiahadDespachoDTOCreate
@{
    ViewBag.Title = "Despachos";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div class="container-lg">
    <!--BreadCrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-aos="fade-left">
                <a class="" href="@Url.Action("Siahad", "Home", new { Area = "Inventario" })" style="text-decoration:none">
                    <i class="fa fa-home" title="Inicio"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item" data-aos="fade-left">
                <span>Índice</span>
            </li>
        </ol>
    </nav>
    <!--BreadCrum-->
    <!--Form-->
    @using (Ajax.BeginForm("JsDoEgreso", "Siahad", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "master.begin",
        OnSuccess = "master.success",
        OnFailure = "master.failure"
    }, new { id = "form-master" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.MaterialId)
        @Html.HiddenFor(x => x.BodegaId)
        <div class="card border border-dark">
            <div class="card-header" style="background-color:rgb(164,192,220);">
                *** Procesando DESPACHO ***
            </div>
            <div class="card-body" style="background-color:rgb(233,241,255);">
                <div class="row">
                    <div class="col-md-4">@Html.EditorFor(x => x.DestinoCodigo)</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.DestinoNombre)</div>
                    @*<div class="col-md-4">@Html.EditorFor(x => x.AdministracionId, new { optionsList = ViewBag.ListAdminitraciones })</div>*@
                    <div class="col-md-4">@Html.EditorFor(x => x.MaterialCodigo)</div>
                    @*<div class="col-md-4">@Html.EditorFor(x => x.MaterialCodigi)</div>*@
                    @*<div class="col-md-4"></div>*@
                    <div class="col-md-8">@Html.EditorFor(x => x.MaterialNombre)</div>
                    <div class="col-12">
                        <div class="card border" style="border-color: rgb(164,192,220) !important;">
                            <div class="card-body py-1 px-3" style="background-color:rgb(233,241,255);">
                                <div class="row">
                                    <div class="col-md-4">@Html.EditorFor(x => x.MaterialUnidadMedida, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                    <div class="col-md-8">@Html.EditorFor(x => x.MaterialProducto, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                    <div class="col-md-4">@Html.EditorFor(x => x.MaterialPrecio, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                    <div class="col-md-4">@Html.EditorFor(x => x.MaterialCantidad, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                    <div class="col-md-4">@Html.EditorFor(x => x.MaterialValor, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">@Html.EditorFor(x => x.BodegaCodigo)</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.BodegaNombre)</div>
                    <div class="col-md-4">@Html.EditorFor(x => x.FechaVencimiento)</div>

                    <div class="col-md-8">
                        <div class="card border border-dark">
                            <div class="card-body py-1 px-3" style="background-color:rgb(233,241,255);">
                                <div class="row">
                                    <div class="col-md-6">@Html.EditorFor(x => x.BodegaCantidad, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                    <div class="col-md-6">@Html.EditorFor(x => x.BodegaValor, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="col-md-4">@Html.EditorFor(x => x.BodegaCantidad, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>
                    <div class="col-md-4">@Html.EditorFor(x => x.BodegaValor, new { @class = "form-control-sm", classLabel = "form-label-sm" })</div>*@
                    <div class="col-md-4">@Html.EditorFor(x => x.FechaMovimiento)</div>
                    <div class="col-md-4">@Html.EditorFor(x => x.Cantidad)</div>
                    <div class="col-md-4">@Html.EditorFor(x => x.Solicitud)</div>
                    <div class="col-12">@Html.EditorFor(x => x.Observacion)</div>

                </div>
                @*<a href="#" class="btn btn-primary float-end">Siguiente</a>*@
                <div class="row">
                    <div class="col-md-6">
                        <p>Docuemnto #: </p>
                    </div>
                    <div class="col-md-6">
                        <button id="btn-save" type="submit" class="btn btn-success float-end"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--Form-->
</div>

@section scripts {
    <script>
        // Master Form
        var master = {};
        master.form = $('#form-master');
        master.btn = $('#btn-save');
        master.init = function () {
            // Protected Fields
            $('#MaterialNombre, #BodegaNombre, #MaterialUnidadMedida, #MaterialProducto, #MaterialPrecio, #MaterialCantidad, #MaterialValor, #MaterialCodigi, #DestinoNombre').attr('readonly', 'readonly').attr('tabindex', '-1');
            $('#BodegaCantidad, #BodegaValor').attr('readonly', 'readonly').attr('tabindex', '-1');
            // Clean Fields
            $('#MaterialPrecio, #MaterialCantidad, #MaterialValor, #Cantidad, #Valor').val('');
            $('#MaterialCodigo, #MaterialId').val('');
            $('#MaterialCodigo').focus();
        };
        master.init2 = function () {
            $('#DocumentoIngreso, #FechaEmision').prop('readonly', true);
            $('#AdministracionId option:not(:selected)').prop('disabled', true);
        };
        master.begin = function () {
            master.btn.prop('disabled', true);
        };
        master.end = function () {
            master.btn.prop('disabled', false);
        };
        master.success = function (response) {
            jshelper.showAlert(response.success, response.message);
            if (response.success) {
                console.log(response.data);
                $('#Documento').val(response.data.Documento);
                $('#Correlativo').val(response.data.Correlativo);
                master.init();
                master.init2();
                master.addResult(response.data);
                $('#list').show();
            }
            master.end();
        };
        master.addResult = function (dto) {
            let newRowContent = '<tr>' +
                '<th class="text-lg-center" scope="row" >' + dto.Correlativo + '</th>' +
                '<td>' + dto.BodegaCodigo + '</td>' +
                '<td>' + dto.MaterialCodigo + ' (' + dto.MaterialCodigi + ') ' + dto.MaterialProducto + '</td>' +
                '<td>' + dto.Cantidad + '</td>' +
                '<td>' + dto.Valor + '</td>' +
                '</tr>';
            $("#results").append(newRowContent);
        };

        // Document Ready
        $(function () {
            master.init();
        });

        // autocomplete
        $("#MaterialCodigo").autocomplete({
            select: function (event, ui) { console.log(ui.item.MaterialId); $('#MaterialId').val(ui.item.MaterialId); },
            maxShowItems: 5,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("JsGetByFilter", "Siahad")',
                    dataType: "json",
                    data: "f=" + request.term,
                    success: function (resp) {
                        response($.map(resp.data, function (item) {
                            //console.log(item);
                            return {
                                label: item.id,
                                value: item.id,
                                MaterialId: item.MaterialId,
                                desc: item.text
                            };
                        }));
                    }
                });
            },
            appendTo: "#form-master"
        }).data("ui-autocomplete")._renderItem = jshelper.ACRenderItem;
        $("#BodegaCodigo").autocomplete({
            maxShowItems: 5,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("JsGetByFilter", "Siahad")',
                    dataType: "json",
                    data: "val=" + request.term,
                    success: function (resp) {
                        response($.map(resp.data, function (item) {
                            //console.log(item);
                            return {
                                label: item.Text,
                                value: item.Value,
                                desc: item.Text
                            };
                        }));
                    }
                });
            },
            appendTo: "#form-master"
        }).data("ui-autocomplete")._renderItem = jshelper.ACRenderItem;

        // onblur
        $('#MaterialCodigo').on('blur', function () {
            jshelper.get(
                '@Url.Action("JsGetMaterialCantidadByCodigoOrId", "Siahad")',
                {
                    MaterialCodigo: $("#MaterialCodigo").val(),
                    MaterialId: $('#MaterialId').val(),
                    AdministracionId: $('#AdministracionId').val()
                },
                function (response) {
                    $('#MaterialId').val('');
                    $('#MaterialNombre').val('');
                    if (response.success && response.data != null) {
                        $('#MaterialId').val(response.data.MaterialId);
                        $('#MaterialNombre').val(response.data.Descripcion);
                        $('#MaterialCodigi').val(response.data.Codigi);
                        $('#MaterialUnidadMedida').val(response.data.UnidadMedida);
                        $('#MaterialProducto').val(response.data.Producto);
                        $('#MaterialCantidad').val(response.data.Cantidad);
                        $('#MaterialPrecio').val(response.data.Precio);
                        $('#MaterialValor').val(response.data.Valor);
                        //$('#btnFilter').focus();
                    }
                }
            );
        });
        $('#BodegaCodigo').on('blur', function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("JsGetBodegaByNombre", "Siahad")',
                data: { nombre: $("#BodegaCodigo").val() },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //console.log(response);
                    if (response.success) {
                        //$('#DepartamentoNombre').val(response.data.Descripcion);
                        $('#BodegaId').val(response.data.BodegaId);
                        $('#BodegaNombre').val(response.data.Descripcion);
                    }
                },
                failure: function (response) {
                    console.log(response);
                    jshelper.failure();
                }
            });
        });
    </script>
}