@model  PagedList.IPagedList<Apphr.Application.Ortopedia.Consultas.DTOs.ConsultasDTOEgresoGrid>
@using PagedList.Mvc
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tr class="table-dark">
            <th>Codigo</th>
            <th>Material</th>
            <th class="text-end">Cantidad</th>
            <th class="text-end">Valor</th>
            <th>Proveedor</th>
            <th>Registro Médico</th>
            <th>Paciente</th>
            <th>Cirujano</th>
        </tr>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MaterialCodigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaterialNombre)</td>
                    <td class="text-end">@string.Format("{0:N2}", item.Cantidad)</td>
                    <td class="text-end">@string.Format("{0:N2}", item.Valor)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProveedorNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.PacienteRM)</td>
                    <td>@Html.DisplayFor(modelItem => item.PacienteNombreCompleto)</td>
                    <td>@Html.DisplayFor(modelItem => item.CirujanoNombre)</td>
                </tr>
            }
        }
        else
        {
            <!--Sin registros-->
            <tr>
                <td class="text-center" colspan="8">@Apphr.Resources.Strings.NoRegister</td>
            </tr>
            <!--Sin registros-->
        }

    </table>
</div>
<!-- Table Paged Navigation-->
<div class="row">
    <div class="col-12 text-center">@Html.PagedListPager(Model, page => page.ToString(), (PagedListRenderOptions)ViewBag.PLROpions)</div>
    <div class="text-center">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</div>
</div>
<!-- Table Paged Navigation-->